services:
  - type: web
    name: cost-manager-logs
    runtime: node
    buildCommand: npm ci
    startCommand: node services/logs-service/server.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false

  - type: web
    name: cost-manager-users
    runtime: node
    buildCommand: npm ci
    startCommand: node services/users-service/server.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: LOGS_BASE_URL
        sync: false

  - type: web
    name: cost-manager-costs
    runtime: node
    buildCommand: npm ci
    startCommand: node services/costs-service/server.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: LOGS_BASE_URL
        sync: false

  - type: web
    name: cost-manager-admin
    runtime: node
    buildCommand: npm ci
    startCommand: node services/admin-service/server.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: LOGS_BASE_URL
        sync: false
